  <footer>
    <div class="footer-top">
      <div class="logo">Elfé Lorienveil</div>
      <div class="info">
        <h4>Info</h4>
        <p>Contact us<br>About us</p>
      </div>
      <div class="policies">
        <h4>Policies</h4>
        <p>Privacy Policy<br>Return policy<br>Terms and Conditions<br>Cookie Policy</p>
      </div>
      <div class="newsletter">
        <h4>Subscribe to Our News Letter</h4>
        <input type="email" placeholder="Email Address">
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 | elfein | The content of this site is copyright-protected and is the property of elfé Lorienveil.</p>
    </div>
  </footer>