<style>
      .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 60px;
      background: #fff;
    }

    .navbar .logo {
      font-size: 40px;
      font-weight: 37;
      color: #B2A9A1;
    }

    .navbar ul {
      display: flex;
      list-style: none;
      gap: 25px;
    }
   
    .navbar a {
      text-decoration: none;
      color: #615A5A;
      font-size: 15px;
    }

    .navbar .btn {
      padding: 8px 15px;
      border-radius: 5px;
      background: #484848;
      color: #fff;
    }
</style>
<header class="navbar">
    <div class="logo">Elfé Lorienveil</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="/products">All Products</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="/cart">Your Cart</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout" class="btn logout-btn">Logout</a></li>
      </ul>
    </nav>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   <script>
  window.history.replaceState(null, null, window.location.href);
</script>
<script>
  window.addEventListener('pageshow', function (event) {
    if (event.persisted) {
      window.location.reload();
    }
  });
</script>
<script>
  document.addEventListener('click', function (e) {
    const logoutLink = e.target.closest('.logout-btn');
    if (!logoutLink) return;

    e.preventDefault();

    Swal.fire({
      title: 'Confirm Logout',
      text: 'Are you sure you want to logout?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, logout',
      cancelButtonText: 'Cancel',
      confirmButtonColor: '#484848',
      cancelButtonColor: '#aaa',
      reverseButtons: true
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = logoutLink.getAttribute('href');
      }
    });
  });
</script>



