<header class="navbar">
    <div class="logo">Elfé Lorienveil</div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">All Products</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="/profile">profile</a></li>
        <li><a href="/logout" class="btn">logout</a></li>
      </ul>
    </nav>
  </header>