/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

.wrapper {
  width: 350px;
  text-align: center;
}

h2 {
  font-size: 28px;
  color: #444;
  margin-bottom: 20px;
}

/* Google button */
.google-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  color: #777;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
}

/* Input fields */
form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.referral-text {
  font-size: 12px;
  color: #555;
  margin: 10px 0 5px;
  text-align: left;
}

/* Signup button */
.signup-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #5a4a42;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-btn:hover {
  background: #463730;
}

/* Login link */
.login-text {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.login-text a {
  color: #463730;
  font-weight: 600;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

.error-message {
      color: rgb(170, 43, 43);
      font-size: 0.8rem;
      margin-bottom: 10px;
    }
